@page "/security-manager"
@rendermode InteractiveServer

<div class="container">

    <h2 class="mb-4">Security Manager</h2>

    <div class="row">

        <div class="col-md-6">
            <UserManager />
        </div>

        <div class="col-md-6">
            <RoleManager />
        </div>

    </div>

    <hr />

    <div class="row">

        <div class="col-md-6">
            <UserRoleManager />
        </div>

        <div class="col-md-6">
            <GroupManager />
        </div>

    </div>

</div>