<!DOCTYPE html>
<html lang="fa" dir="rtl" ng-app="mainApp">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AngularJs.RazorTemplate</title>

    <script type="importmap"></script>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AngularJs.RazorTemplate.styles.css" asp-append-version="true" />

    <link href="~/app/assets/css/app.style.css" rel="stylesheet" />

</head>
<body>

   <div class="app-razor-page">
        @RenderBody()
   </div>

    <div ng-view></div>

    <script src="~/lib/angularjs/angular.min.js"></script>
    <script src="~/lib/angularjs/angular-route.min.js"></script>


    <script src="~/app/app.js"></script>
    <script src="~/app/pages/home/home.controller.js"></script>
    <script src="~/app/pages/about/about.controller.js"></script>
    <script src="~/app/pages/users/users.controller.js"></script>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
