<!DOCTYPE html>
<html lang="fa" dir="rtl" ng-app="mainApp">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AngularJs.RazorTemplate</title>

    <script type="importmap"></script>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AngularJs.RazorTemplate.styles.css" asp-append-version="true" />

    <link href="~/app/assets/css/app.style.css" rel="stylesheet" />

</head>
<body class="app-page">

    <!-- navbar حالا یک directive مستقل است؛ در همه‌ی صفحات ثابت می‌ماند -->
    <app-navbar></app-navbar>

    <div class="app-layout">
        <!-- sidebar هم directive مستقل است -->
        <app-sidebar></app-sidebar>

        <main role="main" class="app-content">
            <!-- Index.cshtml محتوای خالی دارد؛ Razor صدا زدن RenderBody را الزامی می‌کند -->
            @RenderBody()

            <!-- فقط همین بخش با تغییر route عوض می‌شود -->
            <div ng-view></div>
        </main>
    </div>

    <!-- footer هم directive مستقل است -->
    <app-footer></app-footer>

    <script src="~/lib/angularjs/angular.min.js"></script>
    <script src="~/lib/angularjs/angular-route.min.js"></script>

    @* Angular Starter Application  *@
    <script src="~/app/app.js"></script>

    @* Controllers *@
    <script src="~/app/pages/home/home.controller.js"></script>
    <script src="~/app/pages/about/about.controller.js"></script>
    <script src="~/app/pages/users/users.controller.js"></script>

    @* Directives *@
    <script src="~/app/directives/navbar/navbar.directive.js"></script>
    <script src="~/app/directives/sidebar/sidebar.directive.js"></script>
    <script src="~/app/directives/footer/footer.directive.js"></script>

    @* Libraries *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
